/* body{
    background-color: #e10514;
} */

.bg-ziraat {
    background-color: #e10514;
}

.nav-item-border {
    border-right: black;
    border-width: 5px;
}

.font-top {
    font-size: 14px;
}

.border-search {
    padding: 10px;
    border-bottom-left-radius: 60px 30px;
    border-bottom-right-radius: 60px 30px;
  }


.top-nav li:hover {
    text-decoration:underline;
}

.btn-internet:hover {
    background-color: #e10514 !important;
    color: white !important;
    border:1px solid black !important;
}

.btn-detay {
    background-color: white !important;
    color:black !important;
    border:1px solid black !important;
}

.dropdown-item {
    color:white !important;
    font-size:16px;
}

.dropdown-item:hover {
    background-color: white;
    color:#1d1d1b !important;
    border-left: 1px solid #e10514;
}

.dropdown-menu {
    background-color: #4c3f46 !important;
    opacity: 97%;
}

.text-section {
    font-size: 22px !important;
    font-family: 'Roboto', sans-serif;
}

.section-h-border {
    border-bottom: 2px solid #1d1d1b;
}

.section-border {
    border-bottom: 1px solid gray ;
    border-bottom-style: dashed;
}

.text-lead {
    font-size: 14px !important;
}

.section-bg-color {
    background-color: #ececec;
    opacity: 97%;
}

.btn-section {
    border: 1px solid black !important;
    border-radius: 75px 75px !important;
    font-weight: bold;
    text-align: left;
}

.dropdown-menu-section{
    background-color: white !important;
    border: 1px solid black !important;
    border-radius: 20px 20px !important;
    margin-top: 2% !important;
    width: 100% !important;
}

.dropdown-menu-section .dropdown-item{
    color:gray !important;
    font-weight: bold;
}

.dropdown-menu-section .dropdown-item:hover{
    color:black !important;
    background-color: transparent !important;    
}

.search-area-section {
    margin-left: 2%;
    width: 95%;
}

.footer-bg {
    background-color: #4c565b !important;
    color:white;
}

.kredi-tutar {
    margin-top: 5%; 
    height: 6%;
    background-color: transparent;
    border: 1px solid black;
    text-align: left;  
    padding-top: 1%;
}

.kredi-tutar span {
    color: gray;
    margin-left: 3%;
    font-weight: bold;    
}

#kredi-tutar {
    border: none;
    background-color: transparent;
    float: right;
    text-align:right;
    font-weight: bold;
}

#kredi-tutar::placeholder {
    color: black;
    font-weight: bold;
}

#kredi-tutar:focus {
    outline: none !important;
}

.slider {
    border: 1px solid black;    
    background-color: transparent;
    color: black;
    font-weight: bold;
    height: 100%;
}

.slider::placeholder {
    color:black;
}

.slider:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.basvurular-section:hover {
    border-bottom: 2px solid #1d1d1b;    
}

span.d-block { /* başvurular kısmındaki yazıları kalınlaştırmak için*/
    font-weight: bold;
}

/* 
BORDER İÇİN TASLAK --> ??? YAPILABİLİR Mİ KONTROL ET
.border-basvuru {
    visibility: hidden;
    width: 50px;
    height: 3px;
    background-color: #1d1d1b;
}

.deneme1:hover {
    visibility: visible !important;
}

.border-basvuru:hover {
    visibility: visible;
} */